<section id="question-comments" class="comments">
                        <ul>{% for comment in comments %}
                            <li>{{ comment.message }}</li>
                        {% endfor %}</ul>

                        <div role="group">
                            <a href="#"><button type="button">Write new comment</button></a>
                            <a href="#"><button type="button">Edit comment</button></a>
                            <a href="#"><button type="button">Delete comment</button></a>
                        </div>
</section>