<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" title="Default style" href={{ url_for('static', filename='style.css') }}>
        {% if page_title %}
            <title>{{ page_title }} | AskMate</title>
        {% else %}
            <title>AskMate</title>
        {% endif %}
</head>
<body>
<div class="content-wrapper">
<header>
    <div>
        <form action="{{ url_for('search') }}" method="post">
            <input type="text" name="search" id="search" placeholder="Search...">
        <input type="image" id="search_image" src="/static/clipart2883794.png">
        </form>
    </div>
    <nav>
        <a href="/"><img src="{{ url_for('static', filename='am-png-6.png') }}" title="AskMate" id="logo"></a>
    </nav>
</header>
<main role="main">
    <section>
        {% block content %}{% endblock %}
    </section>
</main>
</div>
</body>
</html>