<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" title="Default style" href={{ url_for('static', filename='style.css') }}>
        {% if page_title %}
            <title>{{ page_title }} | AskMate</title>
        {% else %}
            <title>AskMate</title>
        {% endif %}
</head>
<body>
<div class="content-wrapper">
<header>
    <div><input id="search" value="Search..."><a href="#"><img id="search_image" src="{{ url_for('static', filename='clipart2883794.png') }}"></a></div>
    <nav>
        <a href="/"><img src="{{ url_for('static', filename='am-png-6.png') }}" title="AskMate" id="logo"></a>
    </nav>
</header>
<main role="main">
    <section>
        {% block content %}{% endblock %}
    </section>
</main>
</div>
</body>
</html>