{% extends 'layout.html' %}
{% block content %}
    <h1>{{ page_title }}</h1>
    <a href="{{ url_for('post_new_question') }}"><button>Add new Question</button></a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
        </tr>
        </thead>

        <tbody>
            {% for question in questions %}
            <tr>
                <th scope="row" align="center">{{ question['id'] }}</th>
                <td align="left"><a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question['title'] }}</td>
                <td align="center">{{ question['submission_time'] }}</td>
                <td align="center">{{ question['view_number'] }}</td>
                <td align="center">{{ question['vote_number'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}