{% extends 'layout.html' %}
{% block content %}
    <h1>{{ page_title }}</h1>
    <a href="{{ url_for('post_new_question') }}"><button>Add new Question</button></a>
    <table>
        <thead>
        <tr>
            <th id="th_id">ID</th>
            <th id="th_message">Message</th>
            <th id="th_submission_time">Submission Time</th>
            <th id="th_view_number">View Number</th>
            <th id="th_vote_number">Vote Number</th>
        </tr>
        </thead>

        <tbody>
            {% for question in questions %}
            <tr>
                <th>{{ question['id'] }}</th>
                <td id="td_message"><a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question['title'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}