{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <form action="#" method="post">
        <div class="form">
            <h3>Email:</h3>
            <input type="email" name="email" id="useremail" placeholder="you@example.com" height="20px" width="50px" required>
            <h3>Password:</h3>
            <input type="password" name="password" id="userpass" placeholder="******" minlength="6" height="20px" width="50px" required>
        </div>
        <br>
        <a href="/"><input type="submit" id="login" value="Login"></a>
    </form>
{% endblock %}