{% extends 'layout.html' %}

{% block title %} Give feedback! {% endblock %}

{% block content %}
    <h1>{{ page_title }}</h1>
    {%  for question in question %}
    <form action="{{ url_for('post_new_comment', question_id=question['id']) }}", method="post">
        <div>
            <h4>Your comment: </h4>
            <textarea name=message id=message minlength="10" rows="10" cols="100" requiredgit ></textarea>
        </div>
        <a href="{{ url_for('post_new_comment', question_id=question['id']) }}"><input type="submit" id="post_comment" value="Comment"></a>
    </form>
    {% endfor %}
{% endblock %}