{% extends 'layout.html' %}

{% block title %} What's your answer {% endblock %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <form action="{{ url_for('post_new_answer', question_id=question_id) }}", method="post">
        <div >
            <h3>Your answer: </h3>
            <textarea name=message id="message" minlength="10" rows="10" cols="100" required ></textarea>
        </div>
        <a href="{{ url_for('post_new_answer', question_id=question_id) }}"><input type="submit" id="post_answer" value="Post Your Answer"></a>
    </form>
{% endblock %}