{% extends 'layout.html' %}

{% block title %} What's your answer {% endblock %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <form action="{{ url_for('write_new_answer', question_id=question['id']) }}", method="post">
        <div><label for="new_answer">Your answer: </label><br>
            <textarea name=new_answer id=new_answer minlength="10" rows="10" cols="100"></textarea></div>
        <a href="{{ url_for('write_new_answer', question_id=question['id']) }}"><input type="submit" id="post_answer" value="Post Your Answer"></a>
    </form>
{% endblock %}