<section class="comments">
                        <h5>Comments area <a id="new_comment_button" href="{{ url_for('write_new_comment', question_id=question['id']) }}"><button type="button">Write new comment</button></a></h5>
                        <ul>{% for comment in comments %}
                            <li>{{ comment.message }}</li>
                            <a href="{{ url_for('delete_comment', question_id=question['id'], comment_id=comment['id']) }}"><button type="button">Delete comment</button></a>
                            <a href="#" title="Not implemented YET"><button type="button">Edit comment</button></a>

                        {% endfor %}</ul>
