{% extends 'layout.html' %}

{% block title %} New lUser {% endblock %}

{% block content %}
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="form">
            <h3>Username:</h3>
            <input type="text" name="username" id="username" placeholder="J.Doe" minlength="3" height="20px" width="50px" required>
            <h3>Email:</h3>
            <input type="email" name="useremail" id="useremail" placeholder="you@example.com" height="20px" width="50px" required>
            <h3>Password:</h3>
            <input type="password" name="userpass" id="userpass" placeholder="******" minlength="6" height="20px" width="50px" required>
            <h3>Password again:</h3>
            <input type="password" name="userpass" id="userpass" placeholder="******" minlength="6" height="20px" width="50px" required>
            <h4>Profile picture (optional):</h4>
            <input type="file" name="image" id="upload" accept="image/*">
        </div>
        <br>
        <a href="#"><input type="submit" id="registration" value="Sign Up"></a>
    </form>
{% endblock %}