{% extends 'layout.html' %}

{% block content %}
    <article>
        <header>
            <h1>{{ question['title'] }}</h1>
            <small>
                Published:
                <time pubdate="{{ question['submission_time'][:4]+'.'+question['submission_time'][4:6]+'.'
                                     +question['submission_time'][6:8]+' --  '+question['submission_time'][8:10]+':'
                                     +question['submission_time'][10:12]+':'+question['submission_time'][12:14]}}">
                    {{ question['submission_time'][:4]+'.'+question['submission_time'][4:6]+'.'
                                     +question['submission_time'][6:8]+' --  '+question['submission_time'][8:10]+':'
                                     +question['submission_time'][10:12]+':'+question['submission_time'][12:14]}}
                </time>
                By: Test User
            </small>
        </header>
        <div class="single_post">
            {{ question['image'] }}
           {{ question['message'] }}
            <!-- pagination comes here Previous question link-->
            <br>
            <a href="{{ url_for('write_new_answer', question_id=question['id']) }}"> Send an Answer</a>
        </div>
    </article>
{% endblock content %}